.wrapper {
  display: grid;
  grid-template-columns: 160px 1fr; /* nav bar width fixed at 160px, content takes the rest */
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr; /* Stacks content into a single column */
    grid-template-rows: auto; /* Allows each row to determine its own size */
  }
}
