@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9e9cb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9e9cb;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-4xl border-b-2 border-[#faad19] mb-4;
}

h2 {
  @apply text-3xl border-b-2 border-[#faad19] mb-4;
}

h3 {
  @apply text-2xl mb-4;
}

a {
  color: #0070f3;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

p {
  @apply mt-4 mb-4;
}

blockquote {
  @apply border-l-4 border-gray-300 pl-4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
