.container {
  width: 100%;
  padding: 0 2.5% 2.5% 2.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
    margin: auto;
  }
}

.container h1 {
  font-size: 2.5rem;
  border-bottom: 2px solid #faad19;
}

.container h2 {
  font-size: 2rem;
  border-bottom: 2px solid #faad19;
}

.container img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.container table {
  max-width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border: 2px;
  overflow-x: auto;
}

.container td {
  border: 2px;
  border-style: solid;
}

.container th {
  border: 2px;
  border-style: solid;
}

.container code {
  background-color: #eee8d5;
  font-size: 14px;
  border-left: 2px solid #faad19;
  padding: 1rem;
  max-width: 100%;
  display: block;
  line-height: 1.5rem;
  counter-reset: line;
  overflow: hidden;
  overflow-x: auto;
}

.container code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

.container code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

.container code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
