.container {
  display: flex;
  /* width: 90%; */
  /* grid-template-columns: 0.9fr; */
  /* grid-template-columns: minmax(0, 0.9fr); */
  /* justify-content: center; */
  justify-content: center;
  padding: 10px;
}

@media (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: max(650px);
    justify-content: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: center;
}

.container h3 {
  text-align: center;
}

.container h4 {
  text-align: center;
}

.container h5 {
  text-align: center;
}

.displayImg {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.container table {
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.container td {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.container th {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialBanner {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.displayImg {
  margin: auto;
  padding: 5px;
  flex-grow: 1;
}
