.container {
  display: flex;
  padding: 10px;
}

@media (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: max(750px);
    justify-content: center;
  }
}

.container h1 {
  font-size: 2.5rem;
  border-bottom: 2px solid #faad19;
}

.container h2 {
  font-size: 2rem;
  border-bottom: 2px solid #faad19;
}

.container img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.container table {
  border: 2px;
  border-collapse: collapse;
}

.container td {
  border: 2px;
  border-style: solid;
}

.container th {
  border: 2px;
  border-style: solid;
}
