html,
body {
  background-color: #f9e9cb;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333333;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.katex > * {
  font-size: 14px;
}

.twitter-tweet {
  background-color: #b3d6ec !important;
  border-radius: 12px;
  padding: 12px;
  margin: 10px 0;
}
