html,
body {
  background-color: #f9e9cb;
  padding: 0;
  margin: 0;
  font-family: "times new roman", serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.remark-highlight {
  font-size: 15px;
}
